@import url("https://fonts.googleapis.com/css?family=Lato:400,600|Source+Sans+Pro&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.header {
  padding: 1.6rem 2.4rem;
  position: absolute;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  z-index: 10;
}

.header-company, .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  height: 36px;
}

.header-name {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: #212121;
  margin-left: 0.6rem;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}

.header-menu {
  text-align: right;
}

.header-menu ion-icon {
  display: none;
  font-size: 1.8rem;
  -webkit-transition: color 120ms ease-in;
  transition: color 120ms ease-in;
  margin-left: 1.2rem;
}

.header-menu ion-icon:hover {
  color: #868fb8;
  cursor: pointer;
}

.header-links {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}

.header-link {
  display: inline-block;
  margin-left: 1.2rem;
}

.header-link:first-child {
  margin-left: 0;
}

.header-link a {
  -webkit-transition: color 120ms ease-in-out;
  transition: color 120ms ease-in-out;
}

.header-link a:hover {
  color: #868fb8;
}

.masthead {
  position: relative;
  padding: 4.8rem;
  min-height: 640px;
  height: 100vh;
  overflow: hidden;
}

.masthead:before {
  content: '';
  background: url("../images/mountains.jpg");
  background-size: cover;
  -webkit-filter: blur(4px) grayscale(100%);
          filter: blur(4px) grayscale(100%);
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  z-index: -3;
}

.masthead-overlay {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.masthead-overlay:after {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), color-stop(transparent), to(#eeeeee));
  background: linear-gradient(transparent, transparent, transparent, #eeeeee);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.masthead-text {
  margin-top: 3.2rem;
}

.masthead-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

.masthead-title ion-icon {
  font-size: 1.8rem;
  vertical-align: top;
  position: relative;
  top: 4px;
  margin-right: 0.2rem;
}

.masthead-subtitle {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.85rem;
}

.card-image {
  width: 100%;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.4rem;
}

.card-content {
  text-align: center;
  border-radius: 0.8rem;
  margin-top: 0.8rem;
}

.card-title, .card-subtitle {
  background: #ffffff;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.card-title {
  font-size: 1rem;
}

.card-subtitle {
  display: inline-block;
  font-size: 0.85rem;
  margin-top: 0.4rem;
  font-weight: 400;
  padding: 0.4rem 1rem;
}

body {
  background: #eeeeee;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  background: #eeeeee;
}

body::-webkit-scrollbar-thumb {
  background: #868fb8;
  border-radius: 0.3rem;
  border: 1px solid #eeeeee;
}

.content {
  padding: 0.8rem 4.8rem;
}

.guild {
  margin-top: 4.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.guild-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guild-member .card {
  width: 160px;
}

.guild-member .card-image {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  padding: 4.8rem;
  min-height: 100vh;
}

.section-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

.section-title ion-icon {
  font-size: 1.8rem;
  vertical-align: top;
  position: relative;
  top: 4px;
  margin-right: 0.2rem;
}

.section-subtitle {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.85rem;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.4rem;
  margin-top: 2.4rem;
}

.projects-item {
  background: white;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
}

.projects-image {
  display: block;
  height: 240px;
  margin: 0 auto;
}

.projects-title {
  font-size: 1rem;
  padding-top: 1.2rem;
  margin-top: 1.2rem;
  border-top: 1px solid #eeeeee;
}

.projects-description {
  font-size: 0.85rem;
  margin-top: 0.8rem;
}

.contactform {
  margin-top: 3.2rem;
  border-radius: 0.2rem;
}

.contactform input, .contactform textarea {
  padding: 0.8rem;
  background: none;
  border: 1px solid #dddddd;
  border-radius: 0.2rem;
}

.contactform-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
}

.contactform-message {
  margin-top: 0.2rem;
}

.contactform-message input, .contactform-message textarea {
  display: block;
  width: 100%;
}

.contactform-message textarea {
  resize: none;
  margin-top: 0.2rem;
}

.contactform-button {
  margin-top: 0.2rem;
  text-align: right;
}

.contactform-button button {
  padding: 0.5rem 1.2rem 0.4rem 1.2rem;
  border-radius: 0.2rem;
  border: none;
  background: #868fb8;
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}
/*# sourceMappingURL=default.css.map */