@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body, ul, input, h1, h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.6rem;
  margin: 0px 16px 16px 16px;
}

h1 > input[type="text"] {
  font-size: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  -webkit-transition: border 120ms, background-color 120ms ease-in-out;
  transition: border 120ms, background-color 120ms ease-in-out;
  -webkit-animation: checkbox-shrink 120ms cubic-bezier(0, 0.2, 0.8, 1);
          animation: checkbox-shrink 120ms cubic-bezier(0, 0.2, 0.8, 1);
}

input[type="checkbox"]:checked {
  border: 2px solid #3a8af3;
  background-color: #3a8af3;
  -webkit-animation: checkbox 120ms cubic-bezier(0, 0.2, 0.8, 1);
          animation: checkbox 120ms cubic-bezier(0, 0.2, 0.8, 1);
}

@-webkit-keyframes checkbox-shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes checkbox-shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes checkbox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes checkbox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #cccccc;
  border-radius: 0px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  line-height: 0;
  -webkit-transition: border 120ms ease-in-out;
  transition: border 120ms ease-in-out;
}

input[type="text"]:focus {
  border-bottom: 2px solid #3a8af3;
}

li {
  margin-bottom: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16px 1fr;
      grid-template-columns: 16px 1fr;
  grid-gap: 8px;
  padding: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-transition: background-color 120ms ease-in-out;
  transition: background-color 120ms ease-in-out;
}

li.active {
  background-color: #ffffff;
}

.loader {
  background-color: #3a8af3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.views {
  padding: 16px 0px 16px 0px;
  height: 100%;
  position: relative;
}

.views ul li {
  margin-left: 16px;
}

.views button {
  background: #c54c4c;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0;
}

.checklists {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.todos {
  background-color: #ffffff;
  height: 100%;
  padding: 16px;
  overflow-y: scroll;
}

.todos::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.todos::-webkit-scrollbar-thumb {
  background-color: #3a8af3;
}
/*# sourceMappingURL=default.css.map */