@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Righteous&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul {
  padding: 0;
}

a {
  color: #0a3161;
  text-decoration: none;
}

body {
  background-color: #f0f0f0;
}

#app {
  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
  background-color: #f6f6f6;
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 6px 6px 12px;
  border-radius: 3px;
}

.input__label {
  padding: 0px 12px;
  width: 80px;
}

.input input {
  border: none;
  background-color: transparent;
  padding: 6px;
  outline: none;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-left: 12px;
  width: 100%;
}

.input select {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 6px;
  margin-left: 12px;
  border-radius: 3px;
}

.input fieldset {
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input fieldset label {
  border-radius: 3px;
  display: block;
  padding: 3px 6px;
  margin-right: 12px;
}

.input fieldset input {
  display: none;
}

.input fieldset input:checked + label {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.padded {
  padding: 24px;
}

.mb {
  margin-bottom: 6px;
}

.mt {
  margin-top: 6px;
}

.titlebar {
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12px 24px;
}

.titlebar__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlebar__title h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-left: 8px;
}

.titlebar__links {
  text-align: right;
}

.titlebar__links ul li a {
  text-decoration: none;
}

.edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr;
      grid-template-columns: 240px 1fr;
}

.edit__nav {
  background-color: #f6f6f6;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 24px;
}

.edit__nav ul li {
  margin-bottom: 24px;
}

.edit__nav ul li:last-child {
  margin-bottom: 0px;
}

.edit__nav ul li a {
  text-decoration: none;
}

.edit__form h3 {
  border-bottom: 1px solid #e0e0e0;
  padding: 24px;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #ffffff;
}

table {
  width: 100%;
}

table tr td {
  padding: 6px;
  border-radius: 3px;
}

table tr td img {
  display: block;
  width: 128px;
  margin: 0 auto;
}

table tr td:first-child {
  background-color: #0a3161;
  text-align: center;
  color: #ffffff;
}

table tr td:first-child a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 6px;
}

table tr td:last-child {
  background-color: #ffffff;
  vertical-align: top;
}

.friend {
  text-align: center;
  width: 128px;
}

.friend img {
  width: 128px;
  display: block;
}

header {
  background-color: #b31942;
  font-size: 0.7em;
  padding: 12px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo h1 {
  margin-left: 8px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Righteous";
}

header button {
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right .select {
  background-color: #ffffff;
  margin-right: 12px;
  border-radius: 3px;
  overflow: hidden;
  padding-right: 6px;
}

.header__right .select input, .header__right .select select {
  border: none;
  background-color: transparent;
  padding: 6px;
}

.header__right .select select {
  border-left: 1px solid #e0e0e0;
}

nav {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 6px;
  background-color: #ffffff;
  font-size: 0.8em;
  -webkit-transition: border 0.1s, -webkit-transform 0.1s, -webkit-box-shadow 0.1s ease-in-out;
  transition: border 0.1s, -webkit-transform 0.1s, -webkit-box-shadow 0.1s ease-in-out;
  transition: transform 0.1s, border 0.1s, box-shadow 0.1s ease-in-out;
  transition: transform 0.1s, border 0.1s, box-shadow 0.1s ease-in-out, -webkit-transform 0.1s, -webkit-box-shadow 0.1s ease-in-out;
}

nav ul li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-right: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}

nav ul.left li {
  border-right: 1px solid #e0e0e0;
}

nav ul.right li {
  border-left: 1px solid #e0e0e0;
}

.hero {
  height: 250px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
}

.columns {
  padding: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 624px 300px;
      grid-template-columns: 624px 300px;
  grid-gap: 12px;
}

.card {
  border: 1px solid #e0e0e0;
  padding: 6px;
  border-radius: 3px;
}

.card__header {
  background-color: #b31942;
  color: #ffffff;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
}

.card__header span {
  font-weight: 500;
}

.card__body h5 {
  font-weight: 400;
}

.card__body ul {
  margin: 24px 0px 48px 0px;
  font-size: 0.9em;
}

.card__footer {
  background-color: #0a3161;
  padding: 12px;
  color: #ffffff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__footer a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

main {
  padding-bottom: 146px;
}

footer {
  padding: 12px;
  background-color: #f6f6f6;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  border-right: 1px solid #d0d0d0;
  padding: 0px 6px;
}

footer ul li:last-child {
  border-right: none;
}

footer span {
  display: block;
  margin-top: 12px;
}

.authbox {
  padding: 6px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.authbox__header button {
  background: none;
  border: none;
  padding: 12px 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f0f0f0;
}

.authbox__header button.active {
  background-color: #0a3161;
  color: #ffffff;
}

.authbox__body {
  padding: 24px 24px 0px 24px;
  background-color: #0a3161;
  color: white;
  border-top-right-radius: 3px;
}

.authbox__body input {
  width: 100%;
  margin-bottom: 12px;
  padding: 6px;
}

.authbox__footer {
  background-color: #0a3161;
  padding: 0px 24px 24px 24px;
  color: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.authbox__footer button {
  margin-bottom: 6px;
  background: #ffffff;
  border: none;
  padding: 6px;
  border-radius: 3px;
  font-family: inherit;
}

.authbox__footer .marginb {
  margin-bottom: 24px;
}

.authbox__footer a {
  color: inherit;
  text-decoration: none;
  font-size: 0.9em;
}

.authbox__footer > .right {
  text-align: right;
}

.margin {
  margin-top: 12px;
}

@-webkit-keyframes cssmarquee {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@keyframes cssmarquee {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

.profile {
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 368px 1fr;
      grid-template-columns: 368px 1fr;
  grid-gap: 24px;
}

.profile .profile__column .audio {
  background-color: #f4f4f4;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
}

.profile .profile__column .audio .marquee {
  font-weight: 400;
  height: 42px;
  overflow: hidden;
  position: relative;
}

.profile .profile__column .audio .marquee h4 {
  position: absolute;
  width: 100%;
  line-height: 42px;
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
  z-index: 10;
}

.profile .profile__column .audio .marquee.active {
  -webkit-animation: cssmarquee 10s linear infinite;
          animation: cssmarquee 10s linear infinite;
}

.profile .profile__column .audio audio {
  width: 100%;
}

.profile .profile__column .profile__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 192px 128px;
      grid-template-columns: 192px 128px;
  grid-gap: 12px;
  margin-bottom: 24px;
}

.profile .profile__column .profile__info h2 {
  font-size: 1.2em;
}

.profile .profile__column .profile__info img {
  width: 192px;
}

.profile .profile__column .profile__info .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.profile .profile__column .profile__contact {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 24px;
}

.profile .profile__column .profile__contact > div {
  background-color: #b31942;
  color: #ffffff;
  padding: 12px;
  border-radius: 3px;
}

.profile .profile__column .profile__contact > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 12px;
}

.profile .profile__column .profile__url {
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 18px;
  margin-bottom: 24px;
}

.profile .profile__column .card {
  margin-bottom: 24px;
}

.profile .profile__column .card.blurbs p {
  font-size: 0.9em;
  margin-top: 12px;
}

.profile .profile__column .card.blurbs h4 {
  margin-top: 24px;
}

.profile .profile__column .card.blurbs h4:first-child {
  margin-top: 0;
}

.profile .profile__column .card__body.center {
  text-align: center;
}

.profile .profile__column .card__body h2 {
  font-size: 1.2em;
}

.profile .profile__column .card__body ul {
  margin: 0;
}

.profile .profile__column .card__body ul li {
  margin-bottom: 12px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 19px;
    width: 19px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    border: 1px solid var(--bc, #BBC1E1);
    background: var(--b, rgba(0, 0, 0, 0.1));
    border-radius: 7px;
    -webkit-transition: background .1s, border-color .1s, -webkit-box-shadow .1s;
    transition: background .1s, border-color .1s, -webkit-box-shadow .1s;
    transition: background .1s, border-color .1s, box-shadow .1s;
    transition: background .1s, border-color .1s, box-shadow .1s, -webkit-box-shadow .1s;
  }
  input[type='checkbox']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    width: 5px;
    height: 9px;
    border: 2px solid #ffffff;
    border-top: 0;
    border-left: 0;
    left: 6px;
    top: 3px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
    opacity: var(--o, 0);
    -webkit-transition: opacity var(--d-o, 0.1s), -webkit-transform var(--d-t, 0.1s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.1s), -webkit-transform var(--d-t, 0.1s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.1s) var(--d-t-e, ease), opacity var(--d-o, 0.1s);
    transition: transform var(--d-t, 0.1s) var(--d-t-e, ease), opacity var(--d-o, 0.1s), -webkit-transform var(--d-t, 0.1s) var(--d-t-e, ease);
  }
  input[type='checkbox']:checked {
    --b: #b31942;
    --bc: #ffffff;
    --d-o: .1s;
    --d-t: .1s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    --r: 43deg;
    --o: 1;
  }
  input[type='checkbox']:disabled {
    --b: #F6F8FF;
    cursor: not-allowed;
    opacity: .9;
  }
  input[type='checkbox']:disabled:checked {
    --b: #E1E6F9;
    --bc: #BBC1E1;
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled) {
    --bc: #e94056;
  }
  input[type='checkbox']:focus {
    -webkit-box-shadow: 0 0 0 1px #ffffff;
            box-shadow: 0 0 0 1px #ffffff;
  }
  input[type='checkbox'] + label {
    font-size: 0.9em;
    margin-left: 6px;
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */