@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Righteous&display=swap');

$red: #b31942;
$white: #ffffff;
$blue: #0a3161;

@import "styles/subnav";

*, *::before, *::after { box-sizing: border-box; }
body, h1, h2, h3, h4, h5, h6, p, ul { margin: 0; }

a {
  color: $blue;
  text-decoration: none;
  font-weight: 700;
}

body {
  background-color: #f0f0f0;
  line-height: 1.2em;
}

#app {
  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
  width: 960px;
  margin: 0 auto;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #ffffff;
}

header .logo {
  margin: 10px 0px;
  padding: 6px 0px;
}

.logo {
  box-sizing: initial;
  display: flex;
  align-items: center;
  height: 30px;

  &__mark {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 2em;
    letter-spacing: 1px;
    font-family: "Righteous";
    margin-left: 6px;
  }
}

.omnicard {
  width: 200px;
  padding: 6px;
  border: 1px solid #e0e0e0;
  background-color: #f6f6f6;
  font-size: 0.8em;
  margin-right: 12px;

  a {
    font-weight: 400;
  }

  &__avatar {
    padding: 6px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;

    img {
      display: block;
      width: 100%;
    }
  }

  &__details {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    text-align: center;

    select {
      margin-top: 10px;
    }
  }
}

.grid {
  display: flex;
}

.module.wide {
  width: 460px;
  max-height: 240px;

  .person {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6px;
  }

  img {
    width: 96px;
    height: 96px;
    object-fit: cover;
  }

  h5 {
    margin-bottom: 12px;
  }

  p {
    font-size: 0.9em;
  }
}












.terms {
  width: 630px;
  margin: 0 auto;
  font-family: "Raleway";

  &__header {
    background-color: $red;
    margin: 12px 0px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px 24px 12px 24px;
    color: #ffffff;
  }

  &__body {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 24px;
    margin-bottom: 12px;

    strong {
      color: $blue;
    }

    p {
      margin-bottom: 24px;
    }

    ol {
      li {
        margin-bottom: 24px;

        ol {
          margin-top: 24px;
        }
      }
    }
  }
}

.module {
  margin-bottom: 1em;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  padding: 0.5em;
  border-radius: 6px;
  transition: all 1s ease-in-out;

  &__header {
    padding: .8em .8em .8em .8em;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 .5em;
    background-color: $red;
  }

  &__body {
    h3 {
      color: #333333;
      font-size: 13px;
      font-weight: bold;
      margin: 10px 5px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        color: #333333;
        font-size: 12px;
        line-height: 16px;
        margin: 5px;
        // padding: 2px 0px 3px 25px;
      }
    }

    .profile-types {
      li {
        padding: 0px 0px 10px 0px;

        &:nth-child(2) {
          border-top: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;
          padding-top: 10px;
        }

        &:nth-child(3) {
          padding-top: 10px;
        }
      }
    }
  }
}

.signupform {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-gap: 10px;
}

.starbutton {
  background-color: $blue;
  color: #ffffff;
  padding: 6px 12px;
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.fontnormal {
  font-size: 0.8em;
}
.fontsmall {
  font-size: 0.7em;
}

.input {
  background-color: #f6f6f6;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding: 3px 6px;
  // padding: 6px 6px 6px 6px;

  &__label {
    padding-left: 6px;
    width: 72px;
    font-size: 13px;
    color: #777777;
  }

  img {
    height: 21px;
  }

  input {
    border: none;
    background-color: transparent;
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-family: inherit;
  }

  select {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 6px;
    margin-right: 12px;
    border-radius: 3px;
  }

  fieldset {
    padding: 0;
    border: none;
    display: flex;

    label {
      border-radius: 3px;
      display: block;
      padding: 3px 6px;
      margin-right: 12px;
      font-size: 13px;
    }

    input {
      display: none;

      &:checked + label {
        transform: scale(1.1);
        background-color: #ffffff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}








.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }
}

.padded {
  padding: 24px;
}

.mb {
  margin-bottom: 6px;
}

.mt {
  margin-top: 6px;
}

.titlebar {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 24px;

  &__title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 1.4em;
      font-weight: 500;
      margin-left: 8px;
    }
  }

  &__links {
    text-align: right;
    
    ul {
      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.edit {
  display: grid;
  grid-template-columns: 240px 1fr;

  &__nav {
    background-color: #f6f6f6;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px;

    ul {
      li {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0px;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  &__form {
    h3 {
      border-bottom: 1px solid #e0e0e0;
      padding: 24px;
    }
  }
}

table {
  width: 100%;

  tr {
    td {
      padding: 6px;
      border-radius: 3px;

      img {
        display: block;
        width: 128px;
        margin: 0 auto;
      }

      &:first-child {
        background-color: #0a3161;
        text-align: center;
        color: #ffffff;

        a {
          color: inherit;
          text-decoration: none;
          margin-bottom: 6px;
        }
      }

      &:last-child {
        background-color: #ffffff;
        vertical-align: top;
      }
    }
  }
}

.friend {
  text-align: center;
  width: 128px;

  img {
    width: 128px;
    display: block;
  }
}

header {
  background-color: #b31942;
  font-size: 0.7em;
  padding: 0px 14px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;  

  .header__right {
    display: flex;
  
    .select {
      background-color: #ffffff;
      margin-right: 12px;
    }
  }

  input, select {
    border: none;
    background-color: transparent;
    outline: none;
  }

  select {
    appearance: none;
    border-left: 1px solid #e0e0e0;
    padding: 4px 6px;
  }

  button {
    background-color: #ffffff;
    border: none;
  }
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;

    li {
      padding: 10px 12px;
      background-color: #ffffff;
      line-height: 0.8em;
      font-size: 0.8em;
      transition: transform 0.1s, border 0.1s, box-shadow 0.1s ease-in-out;

      &:hover:not([disabled]) {
        cursor: pointer;
        transform: scale(1.1);
        border-right: 1px solid transparent !important;
        border-left: 1px solid transparent !important;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
      }

      &[disabled] {
        background-color: #f0f0f0;
        color: #7f7f7f;
      }
    }
    
    &.left {
      li { border-right: 1px solid #e0e0e0; }
    }
    &.right {
      li { border-left: 1px solid #e0e0e0; }
    }
  }
}

.hero {
  height: 250px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
}

.columns {
  padding: 12px;
  display: grid;
  grid-template-columns: 624px 300px;
  grid-gap: 12px;
}

.card {
  border: 1px solid #e0e0e0;
  padding: 6px;
  border-radius: 3px;

  &__header {
    background-color: #b31942;
    color: #ffffff;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;

    span {
      font-weight: 500;
    }
  }

  &__body {
    h5 {
      font-weight: 400;
    }

    ul {
      margin: 24px 0px 48px 0px;
      font-size: 0.9em;
    }
  }

  &__footer {
    background-color: #0a3161;
    padding: 12px;
    color: #ffffff;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.main {
  padding-bottom: 146px;
}

footer {
  padding: 12px;
  background-color: #f6f6f6;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #e0e0e0;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      border-right: 1px solid #d0d0d0;
      padding: 0px 6px;

      &:last-child {
        border-right: none;
      }
    }
  }

  span {
    display: block;
    margin-top: 12px;
  }
}

.authbox {
  padding: 6px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;

  &__header {
    button {
      background: none;
      border: none;
      padding: 12px 24px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #f0f0f0;

      &.active {
        background-color: #0a3161;
        color: #ffffff;
      }
    }
  }
  &__body {
    padding: 24px 24px 0px 24px;
    background-color: #0a3161;
    color: white;
    border-top-right-radius: 3px;

    input {
      width: 100%;
      margin-bottom: 12px;
      padding: 6px;
    }
  }
  &__footer {
    background-color: #0a3161;
    padding: 0px 24px 24px 24px;
    color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    button {
      margin-bottom: 6px;
      background: #ffffff;
      border: none;
      padding: 6px;
      border-radius: 3px;
      font-family: inherit;
    }

    .marginb {
      margin-bottom: 24px;
    }

    a {
      color: inherit;
      text-decoration: none;
      font-size: 0.9em;
    }

    & > .right {
      text-align: right;
    }
  }
}

.margin {
  margin-top: 12px;
}

@keyframes cssmarquee {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-60%);
  }
}

.profile {
  padding: 24px;
  display: grid;
  grid-template-columns: 368px 1fr;
  grid-gap: 24px;

  .profile__column {
    .audio {
      background-color: rgb(244, 244, 244);
      border-radius: 3px;
      border: 1px solid #e0e0e0;

      .marquee {
        font-weight: 400;
        height: 42px;
        overflow: hidden;
        position: relative;

        h4 {
          position: absolute;
          width: 100%;
          line-height: 42px;
          transform: translateX(16px);
          z-index: 10;
        }

        &.active {
          animation: cssmarquee 10s linear infinite;
        }
      }

      audio {
        width: 100%;
      }
    }

    .profile__info {
      display: grid;
      grid-template-columns: 192px 128px;
      grid-gap: 12px;
      margin-bottom: 24px;

      h2 {
        font-size: 1.2em;
      }

      img {
        width: 192px;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }

    .profile__contact {
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      padding: 6px;
      margin-bottom: 24px;

      & > div {
        background-color: #b31942;
        color: #ffffff;
        padding: 12px;
        border-radius: 3px;
      }

      & > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 12px;
      }
    }

    .profile__url {
      border-radius: 3px;
      border: 1px solid #e0e0e0;
      padding: 18px;
      margin-bottom: 24px;
    }

    .card {
      margin-bottom: 24px;

      &.blurbs {
        p {
          font-size: 0.9em;
          margin-top: 12px;
        }

        h4 {
          margin-top: 24px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      &__body {
        &.center {
          text-align: center;
        }

        h2 {
          font-size: 1.2em;
        }

        ul {
          margin: 0;

          li {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

.form p {
  font-size: 0.9em;
}







@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'] {
    appearance: none;
    height: 19px;
    width: 19px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    border: 1px solid var(--bc, #BBC1E1);
    background: var(--b, rgba(0, 0, 0, 0.1));
    border-radius: 7px;
    transition: background .1s, border-color .1s, box-shadow .1s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      width: 5px;
      height: 9px;
      border: 2px solid #ffffff;
      border-top: 0;
      border-left: 0;
      left: 6px;
      top: 3px;
      transform: rotate(var(--r, 20deg));
      opacity: var(--o, 0);
      transition: transform var(--d-t, .1s) var(--d-t-e, ease), opacity var(--d-o, .1s);
    }

    &:checked {
      --b: #b31942;
      --bc: #ffffff;
      --d-o: .1s;
      --d-t: .1s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      --r: 43deg;
      --o: 1;
    }

    &:disabled {
      --b: #F6F8FF;
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: #E1E6F9;
        --bc: #BBC1E1;
      }

      // & + label {
      //   cursor: not-allowed;
      // }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: #e94056;
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 1px #ffffff;
    }

    & + label {
      font-size: 0.9em;
      margin-left: 6px;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
}