<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Signup For Conveil</title>

    <link rel="stylesheet" href="../style.css">
  </head>

  <body>
    <div id="app" class="wrapper">
      <header>
        <div class="logo">
          <div class="svg">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="115.43335353820248 178.9554409959646 69.93737417894039 137.88958721264854" height="24">
              <path fill="#ffffff" d="M170.94 279.73L169.82 276.05L167.84 272.44L165.02 268.88L161.34 265.37L156.81 261.93L151.43 258.53L145.19 255.19L138.1 251.91L182.37 179.96L171.21 283.45L170.94 279.73Z"></path>
              <path fill="#ffffff" d="M128.62 251.6L132.11 252.64L135.58 253.92L138.88 255.24L141.81 256.45L143.59 257.2L145.33 258.02L147.01 258.92L148.65 259.88L150.25 260.91L151.79 262.02L153.29 263.19L154.74 264.43L156.15 265.74L157.02 266.64L157.79 266.76L120.38 313.85L116.43 260.1L116.7 260.14L116.77 256.17L117.83 253.36L119.71 251.67L122.25 250.93L125.27 250.97L128.62 251.6Z"></path>
            </svg>
          </div>
          <h1>conveil</h1>
        </div>

        <div class="header__right">
          <div class="select">
            <input type="text">
            <select>
              <option>People</option>
              <option>Conveil</option>
              <option>Web</option>
              <option>Music</option>
              <option>Video</option>
              <option>Images</option>
              <option>Games</option>
            </select>
          </div>
          <button>Search</button>
        </div>
      </header>

      <nav>
        <ul class="left">
          <a href="../"><li>Home</li></a>
          <li>Browse People</li>
          <li>Find Friends</li>
          <li>Local</li>
          <li>Music</li>
          <li>Video</li>
          <li>Games</li>
          <li>More</li>
        </ul>

        <ul class="right">
          <ul>
            <a href="../" v-if="name"><li>My Account</li></a>
            <a href="../" v-else><li>Log In</li></a>
            <a @click="logout" v-if="name"><li>Log Out</li></a>
            <a href="./"><li>Sign Up</li></a>
          </ul>
        </ul>
      </nav>

      <main>
        <div class="columns">
          <div class="left">
            <div class="module">
              <div class="module__header">Sign Up for Conveil</div>

              <div class="module__body">
                <div class="input mb">
                  <img src="../lock.png" alt="">
                  <input type="email" placeholder="Email Address" v-model="form.email">
                </div>

                <div class="input mb">
                  <span>🔑</span>
                  <input type="password" placeholder="Password" v-model="form.password">
                </div>

                <div class="input mb">
                  <img src="../lock.png" alt="">
                  <input type="text" placeholder="Full Name" v-model="form.name">
                </div>
                
                <div class="input mb">
                  <img src="../lock.png" alt="">
                  <div class="input__label">Birthday:</div>
                  <select v-model="form.m">
                    <option>Month</option>
                    <option v-for="month in resource.months">{{ month }}</option>
                  </select>
                  <select v-model="form.d">
                    <option>Day</option>
                    <option v-for="day in resource.days[form.m]">{{ day }}</option>
                  </select>
                  <select v-model="form.y">
                    <option>Year</option>
                    <option v-for="year in resource.years">{{ year }}</option>
                  </select>
                </div>

                <div class="input mb">
                  <img src="../lock.png" alt="">
                  <div class="input__label">Gender:</div>
                  <fieldset id="gender">
                    <input type="radio" name="gender" id="female" value="female" v-model="form.gender">
                    <label for="female">👩 Female</label>
                    <input type="radio" name="gender" id="male" value="male" v-model="form.gender">
                    <label for="male">🧔 Male</label>
                  </fieldset>
                </div>

                <p class="row space-between align-center">
                  <span class="fontnormal">By clicking Sign Up, you agree to Conveil <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</span>
                  <button @click="register" class="starbutton">Sign Up</button>
                </p>
                <hr>
                <p class="fontsmall"><strong>We do not spam.</strong> Conveil understands that user privacy is the key to our success. We will email you the Conveil newsletter, notifications, exclusives, and product updates, unless you opt out of these communications.</p>
              </div>
            </div>
          </div>

          <div class="right">
            <div class="module">
              <div class="module__body">
                <h3>Why Signup for Conveil?</h3>
                <ul>
                  <li>👥 Stay in touch with friends & family</li>
                  <li>🌄 Share your photos albums & videos</li>
                  <li>🔍 Find old classmates & co-workers</li>
                  <li>😀 It's FREE!</li>
                </ul>
              </div>
            </div>

            <div class="module">
              <div class="module__body">
                <h3>Profile Types</h3>
                <ul class="profile-types">
                  <li>🎧 If you are a <a href="#">Musician</a>, <a href="#">Sign up here</a></li>
                  <li>🤣 If you are a <a href="#">Comedian</a>, <a href="#">Sign up here</a></li>
                  <li>🎥 If you are a <a href="#">Filmmaker</a>, <a href="#">Sign up here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer>
        <ul>
          <li>Help</li>
          <li>Terms</li>
          <li>Privacy Policy</li>
          <li>Safety Tips</li>
          <li>Advertise</li>
          <li>Developers</li>
        </ul>

        <ul>
          <li>Careers</li>
          <li>Press Room</li>
          <li>Music</li>
          <li>Video</li>
          <li>Sitemap</li>
        </ul>

        <span>©2021 Conveil, Inc. Made in USA.</span>
      </footer>
    </div>

    <script src="../../gun.js"></script>
    <script src="../../sea.js"></script>
    <script src="../../vue.global.js"></script>
    <script src="./main.js"></script>
  </body>
</html>