.featured {
  letter-spacing: -0.31rem;
  display: inline-block;

  .photo {
    position: relative;
    display: inline-block;
    width: 616px;
    height: 353px;

    img {
      position: absolute;
      left: 0;
      width: 616px;
      height: 353px;
      object-fit: cover;
      transition: opacity 600ms ease-in-out;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    letter-spacing: initial;
    width: 354px;
    height: 353px;
    background-color: #eeeeee;

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      color: #212121;
      margin: 1.6rem 0 0.8rem 10px;
    }

    .screenshots {
      letter-spacing: -0.31rem;
      margin-left: 10px;
      margin-top: 10px;

      img {
        margin-top: 7px;
        margin-right: 10px;
        transition: opacity 120ms ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .release {
      font-size: 0.95rem;
      background: #EC9B3B;
      color: #212121;
      display: inline-block;
      border-radius: 1.2rem;
      padding: 0.6rem 1.2rem 0.8rem 1.2rem;
      letter-spacing: 0.05rem;
      margin-left: 10px;
      font-variant-caps: all-small-caps;
      line-height: 0;
    }

    .details {
      position: absolute;
      display: grid;
      grid-template-columns: 1fr 1fr;
      bottom: 0;
      padding: 0.8rem;
      color: #212121;
      width: 100%;

      :nth-child(2) {
        text-align: right;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .featured {
    letter-spacing: -0.31rem;
    display: inline-block;
    line-height: 0;
  
    .photo {
      position: relative;
      display: inline-block;
      width: 313px;
      height: 177px;
  
      img {
        position: absolute;
        left: 0;
        width: 313px;
        height: 177px;
        object-fit: cover;
        transition: opacity 600ms ease-in-out;
  
        &.hidden {
          opacity: 0;
        }
      }
    }
  
    .info {
      line-height: initial;
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      letter-spacing: initial;
      width: 313px;
      height: 353px;
      background-color: #eeeeee;
  
      h3 {
        font-size: 1.4rem;
        font-weight: 600;
        color: #212121;
        margin: 1.6rem 0 0.8rem 10px;
      }
  
      .screenshots {
        letter-spacing: -0.31rem;
        margin-left: 10px;
        margin-top: 10px;
  
        img {
          margin-top: 7px;
          margin-right: 10px;
          transition: opacity 120ms ease-in-out;
          width: 141px;
  
          &:hover {
            opacity: 0.5;
          }
        }
      }
  
      .release {
        font-size: 0.95rem;
        background: #EC9B3B;
        color: #212121;
        display: inline-block;
        border-radius: 1.2rem;
        padding: 0.6rem 1.2rem 0.8rem 1.2rem;
        letter-spacing: 0.05rem;
        margin-left: 10px;
        font-variant-caps: all-small-caps;
        line-height: 0;
      }
  
      .details {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        bottom: 0;
        padding: 0.8rem;
        color: #212121;
        width: 100%;
  
        :nth-child(2) {
          text-align: right;
        }
      }
    }
  }
}

article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1.2rem;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.2rem;
  margin-top: 2.4rem;

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.4rem;
  }

  .details {
    font-size: 0.85rem;
    margin-top: 1.2rem;

    .category {
      margin-right: 0.4rem;

      & + .date {
        padding-left: 0.4rem;
        border-left: 1px solid #eeeeee;
      }
    }
  }

  p {
    margin-top: 1.2rem;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 600px) {
  article {
    display: block;
    padding: 1.2rem;
    margin-top: 2.4rem;
  
    .title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-top: 1.2rem;
    }
  
    .details {
      font-size: 0.85rem;
      margin-top: 1.2rem;
  
      .category {
        margin-right: 0.4rem;
  
        & + .date {
          padding-left: 0.4rem;
          border-left: 1px solid #eeeeee;
        }
      }
    }
  
    p {
      margin-top: 1.2rem;
      line-height: 1.5;
    }
  }
}