@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(0.35turn, #acb6e5, #74ebd5) no-repeat;
  background-size: 300%;
  background-attachment: fixed;
  margin: 0;
  min-height: 100%;
  font-family: 'Bahnschrift', sans-serif;
  font-weight: 100;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  background: #eeeeee;
}

body::-webkit-scrollbar-thumb {
  background: #868fb8;
  border-radius: 0.3rem;
  border: 1px solid #eeeeee;
}

.header {
  padding: 0.8rem;
  height: calc(32px + 1.6rem);
  position: fixed;
  width: 100%;
  -webkit-transition: background 30ms, padding 300ms ease-in-out;
  transition: background 30ms, padding 300ms ease-in-out;
  z-index: 10;
}

.header-logo {
  height: 100%;
  vertical-align: middle;
  height: 48px;
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  left: calc(50% - 0.5rem);
  -webkit-transition: left 300ms, height 300ms ease-in-out, -webkit-transform 300ms;
  transition: left 300ms, height 300ms ease-in-out, -webkit-transform 300ms;
  transition: left 300ms, transform 300ms, height 300ms ease-in-out;
  transition: left 300ms, transform 300ms, height 300ms ease-in-out, -webkit-transform 300ms;
}

.header-logo-text {
  font-family: 'Righteous', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #212121;
  vertical-align: middle;
  margin-left: 0.4rem;
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  left: calc(50% - 0.5rem);
  top: calc(48px + 1.2rem);
  -webkit-transition: left 300ms, top 300ms, font-size 300ms ease-in-out, -webkit-transform 300ms;
  transition: left 300ms, top 300ms, font-size 300ms ease-in-out, -webkit-transform 300ms;
  transition: left 300ms, transform 300ms, top 300ms, font-size 300ms ease-in-out;
  transition: left 300ms, transform 300ms, top 300ms, font-size 300ms ease-in-out, -webkit-transform 300ms;
}

.header-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header-menu ul {
  margin: 0;
  padding-left: 0.8rem;
  list-style-type: none;
  font-size: initial;
}

.header-menu ul li {
  display: inline-block;
  margin-left: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header-menu ul li:first-child {
  margin-left: 0;
}

.header-menu ul li:last-child {
  margin-right: 0.8rem;
}

.header-menu ul li a {
  color: initial;
  text-decoration: none;
  -webkit-transition: color 120ms ease-in-out;
  transition: color 120ms ease-in-out;
}

.header-menu ul li a:hover {
  color: #868fb8;
}

.header-menu-left .links {
  display: inline-block;
  margin-top: 0.5rem;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header-menu-right {
  text-align: right;
  font-size: 2rem;
}

.header-menu-right .links {
  visibility: hidden;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.5rem;
  -webkit-animation-name: slideOut;
          animation-name: slideOut;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header.scrolled {
  background: #eeeeee;
  padding: 0.8rem 4.8rem;
}

.header.scrolled .header-logo {
  left: 4.8rem;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  height: 32px;
}

.header.scrolled .header-logo-text {
  left: calc(4.8rem + 24px);
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  top: calc(0.8rem + 16px);
  font-size: 1.4rem;
}

.header.scrolled .header-menu-left .links {
  -webkit-animation-name: slideOut;
          animation-name: slideOut;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header.scrolled .header-menu-right .links {
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.masthead {
  background: #eeeeee;
  position: relative;
  padding: 4.8rem;
}

.masthead-text {
  margin-top: 5.6rem;
  -webkit-transition: opacity 30ms ease-in-out;
  transition: opacity 30ms ease-in-out;
  padding-left: 3.1em;
  text-indent: -3.1em;
}

.masthead-text ion-icon {
  font-size: 2.7rem;
  vertical-align: top;
}

.masthead-text h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.masthead-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
}

.masthead-info {
  margin-top: 1.6rem;
  -webkit-transition: opacity 30ms ease-in-out;
  transition: opacity 30ms ease-in-out;
}

.masthead-info p {
  margin: 0;
  font-size: 1.2rem;
}

.content {
  padding: 0.8rem 4.8rem;
}

.content.padded {
  background: #eeeeee;
  padding: 9.6rem 4.8rem;
}

.content h3 {
  background: #eeeeee;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3rem;
}

@-webkit-keyframes slideOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/*# sourceMappingURL=default.css.map */